
.icon-left:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-pin:before { content: '\e802'; } /* '' */
.icon-zoom-in:before { content: '\e803'; } /* '' */
.icon-zoom-out:before { content: '\e804'; } /* '' */
.icon-pin-2:before { content: '\e805'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */